.header {
  /* border: 1px solid black; */
  display: flex;
  height: 80px;
 background-color: black;
  width: 100%;
  position: fixed;
  align-items: center;
  justify-content: flex-end;
  opacity: 0.4;
  z-index: 1;
  


}
.header .elements ul li{
    display: inline;
   list-style: none;
    opacity: 1.0;
    color: lightcyan;
    font-size: 2.7rem;
    padding: 15px;
      
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',  Verdana, sans-serif;
    
}
.elements{
margin-right: 100PX;

}

.header ul{
    opacity: 1.0;
}
.header ul li:hover{
color: #FFFFFF;

cursor: pointer;
border-right: 1px solid lightcyan;
border-left: 0.5px solid lightcyan;
border-radius: 15px;
box-shadow: 2px 2px 2px 2px solid lightcyan;
font-size: 3rem;
}

