.header {
  /* border: 1px solid black; */
  display: flex;
  height: 100px;
 background-color: black;
  width: 100%;
  position: fixed;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0.4;
  z-index: 1;
  


}
.header ul li{
    display: inline;
   list-style: none;
    opacity: 1.0;
    color: white;
    font-size: 2.7rem;
    padding: 15px;
    border: 1px solid ghostwhite;
}
.header ul{
    opacity: 1.0;
}
.header ul li:hover{
color: paleturquoise;
cursor: pointer;
}

