.cover-top img{
width: 600px;
height: 900px;
/* border-bottom: 1px solid black; */
/* border-bottom-right-radius: 50%; */
box-shadow: brown;
justify-self: left;
display: flex;
position: relative;
margin-left: 100px;
filter: blur(0px);
-webkit-filter: blur(0px);

}
.cover-top{
    margin-top: -600px;
  display: flex;

}
.cover-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.banner{
    font-size: large;
    top: initial;
    position: relative;
    margin-top: -800px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 0 auto;
}
.banner h1{
    color: lightcyan;
    border: 0px solid lightcyan;
   box-shadow:  10px 5px 5px 5px #323232;
    padding: 5px;
    font-size: 7rem;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Niconne', cursive;
    font-weight: lighter;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
  
}