
.image-main{
  display: flex;
  width: 100%;
}
.appmain{

  height: "200px";
/* background-image: url("./resources/pkrg.png"); */
min-width: 100%;
min-height: 100%;
top: 50;
background-position: top;
background-repeat: no-repeat;


}
.appmain img{
  /* filter: blur(3px);
  -webkit-filter: blur(3px); */
}
  

.container{
  height: fit-content;

margin: 
0 auto;
background-image: url(./resources/allbk.jpg);
background-repeat: repeat;
  
}
